# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# 生成的 dist 和 build 文件夹，spec 文件
dist/
build/
*.spec
spec/

# Playwright
# Playwright 浏览器缓存目录
.ms-playwright/
playwright-report/
cache/

# PyCharm
# PyCharm 项目文件和工作空间配置
.idea/
*.iml
*.iws
out/

# Virtualenv
venv/
env/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Coverage reports
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pyre type checker
.pyre/

# Environments
.env
.env.*

excel/